* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.messages {
  height: 100%;
  overflow: auto;
}

.message {
  padding: 10px;
  word-break: break-all;
}

.message-system {
  background: #ddd;
}

.message-user {
  background: #fff;
}

.toolbar {
  display: flex;
  flex-shrink: 0;
  height: 40px;
  background: #008c8c;
}
.input {
  display: block;
  flex-grow: 1;
  width: 100%;
  font-size: 20px;
}
.send-btn {
  flex-shrink: 0;
  width: 80px;
}
